version: '3'

services:
  discord-bot:
    build: .
    container_name: discord-bot-einstein-debug
    ports:
      - "8502:8502"
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - api=${api}
      - emoji_api=${emoji_api}
      - google_news_api = ${google_news_api}
    restart: unless-stopped
